{% extends "layouts/main.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    $(document).ready(function () {
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Month');
            dataTable.addColumn('number', 'Total Snowfall (in.)');
            dataTable.addColumn({ type: 'string', role: 'annotation' });
            dataTable.addColumn({ 'type': 'string', 'role': 'tooltip', 'p': { 'html': true } });

            dataTable.addRows([
                {% for abbr, name in month_abbrs|zip:month_names  %}
                    {% with val=summary|getattribute:abbr %}
                        [
                            
                            '{{ name }}',
                            {{ val|format_trace:'dec' }},
                            '{{ val|format_trace:'str' }}',
                            '<div style="margin: 5px;">
                                <h4 style="border-bottom: 1px solid grey;">{{ name }}</h4>
                                {{ val|format_trace:'str' }}
                            </div>'
                        ],
                    {% endwith %}
                {% endfor %}
            ]);

            var options = {
                hAxis: {
                    title: 'Month'
                },
                vAxis: {
                    title: 'Total Snowfall (in.)'
                },
                legend: { position: 'none' },
                bars: 'vertical',
                tooltip: { isHtml: true }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div')).draw(dataTable, options);
        }

        $(window).resize(function () {
            drawChart();
        });
    });
</script>
<div id="" class="container" style="min-height: 650px;">
    <h3 style="text-align: center;">Snow Season Summaries</h3>
    <h4 style="text-align: center;">1990-1991 to 2002-2003 data are from Mr. Maurice Randall, Hampstead Town Historian
    </h4>
    <div id="chart_div" style="height: 500px;"></div>
</div>
{% endblock %}