{% extends "layouts/main.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="container" style="min-height: 650px;">
    <form action="{% url 'summaries_monthly_submit' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        <h2 class="page-title">Submit Monthly Data</h2>

        <script>
            $(document).ready(function () {
                $(".monthSelect").select2({
                    placeholder: "Select a Month"
                });
                $(".yearSelect").select2({
                    placeholder: "Select a Year"
                });
            });
        </script>

        <div class="row better-row">

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="min-height: 40px;">
                <h4>CSV Summary:</h4>
            </div>
            <input id="fileupload" class="col-xs-12 col-sm-12 col-md-4 col-lg-4" type="file" name="csv_file" />
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="min-height: 40px;"></div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="min-height: 40px;">
                <h4>Password:</h4>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="min-height: 40px;">
                <input type="password" name="password" class="form-control" placeholder="Enter Password" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="min-height: 40px;"></div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="min-height: 40px;"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="text-align: center">
                <input type="submit" name="submit" id="submit" class="btn btn-success" style="width: 100%"
                    value="Calculate Summary" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="min-height: 40px;"></div>

        </div>
    </form>
</div>
{% endblock %}