{% extends "layouts/main.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}

{% if monthly_summary is None %}
<script>
    $(document).ready(function () {
        $(".monthSelect").select2({
            placeholder: "Select a Month",
            allowClear: true,
            minimumResultsForSearch: -1
        });
        $('.monthSelect').val('').trigger('change');
        $(".yearSelect").select2({
            placeholder: "Select a Year",
            allowClear: true,
            minimumResultsForSearch: -1
        });
        $('.yearSelect').val('').trigger('change');
        $('#find').click(function () {
            window.location = "{% url 'summaries_monthly_home' %}/" + $(".yearSelect").val() + "/" + $(".monthSelect").val();
        });
    });
</script>
{% endif %}

{% if monthly_summary is not None %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

    google.charts.load('current', { 'packages': ['corechart'] });


    function drawMinMaxChart() {
        // Some raw data (not necessarily accurate)
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', 'Day');
        dataTable.addColumn('number', 'Maximum');
        dataTable.addColumn('number', 'Minimum');
        dataTable.addColumn('number', 'Average');

        dataTable.addRows([

            {% for ob in daily_obs %}
                [ {{ forloop.counter }}, {{ ob.max_temp }}, {{ ob.min_temp }}, {{ ob.max_temp|add:ob.min_temp|divide:"2" }} ],
            {% endfor %}

        ]);

        dataview = new google.visualization.DataView(dataTable);
        dataview.setColumns([0, 1, 2]);

        var options = {
            //title : 'Temperature',
            vAxis: {
                title: 'Temperature (°F)',
                viewWindowMode: 'explicit',
                viewWindow: {
                    max: {{ monthly_summary.max_temp|divide:'10'|ceil|multiply:'10' }},
                    min: {% if monthly_summary.min_temp < 0 %}
                        {{ monthly_summary.min_temp|divide:'10'|floor|multiply:'10' }}
                    {% else %}
                        0
                    {% endif %}
                },
                gridlines: {
                    count: {% if monthly_summary.min_temp < 0 %}
                        {{ monthly_summary.max_temp|sub:monthly_summary.min_temp|divide:'10'|ceil|multiply:'10'|divide:'5'|add:'2' }}
                    {% else %}
                        {{ monthly_summary.max_temp|divide:'10'|ceil|multiply:'10'|divide:'5' }}
                    {% endif %}
                }
            },
            hAxis: {
                title: 'Day',
                ticks: [
                    {% for ob in daily_obs %}
                        {{ forloop.counter }},
                    {% endfor %}
                ]
            },
            legend: 'top',
            seriesType: 'bars',
            series: [
                { color: 'rgb(211,47,47)', visibleInLegend: true },
                { color: 'rgb(48,63,159)', visibleInLegend: true },
                { color: 'rgb(83,197,17)', visibleInLegend: true },
            ],
            chartArea: { 'width': '80%', 'height': '80%' },
            trendlines: {
                0: {
                    type: 'linear',
                    //degree: 5,
                    visibleInLegend: true
                },
                1: {
                    type: 'linear',
                    //degree: 5,
                    visibleInLegend: true
                }
            }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('maxmintemp'));
        chart.draw(dataview, options);
    }

    function drawPrecipChart() {
        // Some raw data (not necessarily accurate)
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', 'Day');
        dataTable.addColumn('number', 'Precipitation');
        dataTable.addColumn({ 'type': 'string', 'role': 'tooltip', 'p': { 'html': true } });

        dataTable.addRows([

            {% for ob in daily_obs %}
                [
                    {{ forloop.counter }}, 
                    {{ ob.precip|format_trace:'dec' }},
                    `<div style="margin: 5px;">
                        <h4 style="border-bottom: 1px solid grey;"> {{ monthly_summary.date.month }}/{{ forloop.counter }}/{{ monthly_summary.date.year }} </h4>
                        {{ ob.precip|format_trace:'str:precip' }}
                    </div>`
                ],
            {% endfor %}

        ]);

        var options = {
            hAxis: {
                title: 'Day',
                ticks: [
                    {% for ob in daily_obs %}
                        {{ forloop.counter }},
                    {% endfor %}
                ]
            },
            vAxis: {
                title: 'Precipitation (in.)'
            },
            legend: { position: 'none' },
            chartArea: { top: 5, 'width': '80%', 'height': '90%' },
            bars: 'vertical',
            tooltip: { isHtml: true }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('precip'));
        chart.draw(dataTable, options);
    }

    function drawSnowfallChart() {
        // Some raw data (not necessarily accurate)
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', 'Day');
        dataTable.addColumn('number', 'Snowfall');
        dataTable.addColumn({ 'type': 'string', 'role': 'tooltip', 'p': { 'html': true } });

        dataTable.addRows([

            {% for ob in daily_obs %}
                [
                    {{ forloop.counter }}, 
                    {{ ob.snowfall|format_trace:'dec' }},
                    `<div style="margin: 5px;">
                        <h4 style="border-bottom: 1px solid grey;"> {{ monthly_summary.date.month }}/{{ forloop.counter }}/{{ monthly_summary.date.year }} </h4>
                        {{ ob.snowfall|format_trace:'str:snow' }}
                    </div>`
                ],
            {% endfor %}

        ]);

        var options = {
            hAxis: {
                title: 'Day',
                ticks: [
                    {% for ob in daily_obs %}
                        {{ forloop.counter }},
                    {% endfor %}
                ]
            },
            vAxis: {
                title: 'Snowfall (in.)'
            },
            legend: { position: 'none' },
            chartArea: { top: 5, 'width': '80%', 'height': '90%' },
            bars: 'vertical',
            tooltip: { isHtml: true }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('snowfall'));
        chart.draw(dataTable, options);
    }

    function drawSnowDepthChart() {
        // Some raw data (not necessarily accurate)
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', 'Day');
        dataTable.addColumn('number', 'Snow Depth');
        dataTable.addColumn({ 'type': 'string', 'role': 'tooltip', 'p': { 'html': true } });

        dataTable.addRows([

            {% for ob in daily_obs %}
                [
                    {{ forloop.counter }}, 
                    {{ ob.snowdepth|format_trace:'dec' }},
                    `<div style="margin: 5px;">
                        <h4 style="border-bottom: 1px solid grey;"> {{ monthly_summary.date.month }}/{{ forloop.counter }}/{{ monthly_summary.date.year }} </h4>
                        {{ ob.snowdepth|format_trace:'str:snow' }}
                    </div>`
                ],
            {% endfor %}

        ]);

        var options = {
            hAxis: {
                title: 'Day',
                ticks: [
                    {% for ob in daily_obs %}
                        {{ forloop.counter }},
                    {% endfor %}
                ]
            },
            vAxis: {
                title: 'Snow Depth (in.)'
            },
            legend: { position: 'none' },
            chartArea: { top: 5, 'width': '80%', 'height': '90%' },
            bars: 'vertical',
            tooltip: { isHtml: true }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('snowdepth'));
        chart.draw(dataTable, options);
    }

    function viewTextmonthly_summary() {
        $('#textmonthly_summary').show();
        $('#charts').hide();
        $('#textBtn').attr('disabled', 'disabled');
        $('#chartsBtn').removeAttr('disabled');
    }

    function viewCharts() {
        $('#textSummary').hide();
        $('#charts').show();
        $('#textBtn').removeAttr('disabled');
        $('#chartsBtn').attr('disabled', 'disabled');
        drawMinMaxChart();
        drawPrecipChart();
        drawSnowfallChart();
        drawSnowDepthChart();
    }

    function iframeLoaded() {
        var iFrameID = document.getElementById('textSummaryiFrame');
        if (iFrameID) {
            // here you can make the height, I delete it first, then I make it again
            iFrameID.height = "";
            iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
        }
    }
    $(document).ready(function () {
        $('#textSummaryiFrame').load(function () {
            iframeLoaded();
        });

        $('#textBtn').attr('disabled', 'disabled');

        $(window).resize(function () {
            drawMinMaxChart();
            drawPrecipChart();
            drawSnowfallChart();
            drawSnowDepthChart();
        });
    });
</script>
{% endif %}

<div id="" class="container" style="min-height: 650px;">

    {% if monthly_summary is None %}

    <h2 style="margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid #777;">Find Summary</h2>
    <div class="row better-row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
            <select class="monthSelect" style="width: 100%">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center" placeholder="Select a Year">
            <select class="yearSelect" style="width: 100%">
                {% now "Y" as current_year %}
                {% for year in 2011|range_inclu:current_year %}
                    <option value='{{ year }}'>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center; margin-bottom: 5px;">
            <input type="button" id="find" class="btn btn-success" style="width: 100%;padding: 4px 12px;"
                value="Find Summary" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height: 5px; border-bottom: 1px solid grey;">
        </div>
    </div>

    {% else %}

    <div class="row better-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left">
            <h1>{{ monthly_summary.date|date:'F' }} {{ monthly_summary.date.year }} Monthly Summary</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height: 5px; border-top: 1px solid grey;"></div>

        <div id="summaryBtns" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left; margin-bottom:2px;">

            <a href="{% url 'summaries_monthly_home' %}" class="btn btn-info" style="margin-bottom: 3px"><span
                    class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>&nbsp; Back</a>
            <a href="#" id="textBtn" onclick="viewTextSummary()" class="btn btn-primary"
                style="margin-bottom: 3px"><span class="glyphicon glyphicon-font" aria-hidden="true"></span>&nbsp; View
                Text Summary</a>
            <a href="#" id="chartsBtn" onclick="viewCharts()" class="btn btn-primary" style="margin-bottom: 3px"><span
                    class="glyphicon glyphicon-signal" aria-hidden="true"></span>&nbsp; View Charts</a>
            <a href="{% url 'summaries_monthly_text' year=monthly_summary.date.year month=monthly_summary.date.month %}"
                target="_blank" class="btn btn-primary" style="margin-bottom: 3px"><span
                    class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Open Text Summary</a>
            <a href="{% url 'summaries_monthly_csv' year=monthly_summary.date.year month=monthly_summary.date.month %}"
                class="btn btn-primary" style="margin-bottom: 3px"><span class="glyphicon glyphicon-save-file"
                    aria-hidden="true"></span>&nbsp;
                Download CSV</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editRemarks"
                style="margin-bottom: 3px">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; Edit Remarks
            </button>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height: 5px; border-top: 1px solid grey;"></div>

        <div id="charts" style="display:none;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center">
                <h2>
                    {{ monthly_summary.date|date:'F' }} {{ monthly_summary.date.year }}
                    Daily Maximum & Minimum Temperatures (°F) <br>
                    West Hampstead, NH
                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center">
                <div id="maxmintemp" style="width: 100%; min-height: 555px;"></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center">
                <h2>Daily Precipitation (in.)</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center">
                <div id="precip" style="width: 100%; min-height: 555px;"></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center">
                <h2>Daily Snowfall (in.)</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center">
                <div id="snowfall" style="width: 100%; min-height: 555px;"></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center">
                <h2>Daily Snow Depth (in.)</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center">
                <div id="snowdepth" style="width: 100%; min-height: 555px;"></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left; min-height: 20px;"></div>
        </div>
        <div id="textSummary">
            <iframe id="textSummaryiFrame" src="{% url 'summaries_monthly_text' year=monthly_summary.date.year month=monthly_summary.date.month %}"></iframe>
        </div>
        <div id="editRemarks" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Remarks</h4>
                    </div>
                    <form
                        action="{% url 'summaries_monthly_view' year=monthly_summary.date.year month=monthly_summary.date.month %}"
                        method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <textarea name="remarks" rows="10" cols="70" style="margin-bottom: 10px;"
                                class="form-control">{{ monthly_summary.remarks }}</textarea>
                            <input type="password" name="password" class="form-control" placeholder="Enter Password" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save changes">
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    {% endif %}

</div>
{% endblock %}