{% extends "layouts/main.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}

<div class="container mt-3 mb-5" style="min-height: 650px;">
    <h3 style="text-align: center;">Precipitation Summary</h3>
    <table class="table-striped" style="width: 100%;">
        <tr>
            <th>Year</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
        </tr>

        {% for summary in summaries %}
            {% if summary.date.month == 1 %}
                <tr>
                    <td>{{ summary.date.year }}</td>
            {% endif %}
            
            <td>{{ summary.precip|format_trace:'str:precip' }}</td>
                    
            {% if summary.date.month == 12 or forloop.last %}
                </tr>
            {% endif %}
        {% endfor %}

    </table>
</div>

{% endblock %}